body {
    background-color: rgb(250, 252, 252);
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;


}

.right-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 15px gray;

}

.image-insta {
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.login-box {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

input {
    padding: 10px;
    font-size: 12px;
    background-color: rgb(243, 242, 242);
    border-radius: 5px;
    border: 5px;
    width: 230px;

}

button {
    border: none;
    border-radius: 5px;
    color: white;
    width: 230px;
    height: 30px;
    background-color: rgb(109, 152, 250);
    margin-left: 10px;
    padding: 10px;
}

.line {
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    gap: 11px;
    margin-left: 30px;
}

hr.solid {
    border: none;
    height: 1px;
    background-color: rgb(112, 111, 111);
    width: 75px;


}

.left-line {
    padding-top: 0px;
    color: #acacac;
}

.right-line {
    padding-top: 0px;
    color: #acacac;
}

.or-line {
    color: #acacac;
    font-size: 12px;
}

.fb {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.fb-login {
    color: rgb(49, 49, 247);
    gap: 10px;
    padding-left: 17px;
}

a:link {
    text-decoration: none;
}

a {
    font-size: 15px;

}

.log-forgot-box {
    padding-left: 60px;
    margin-bottom: 20px;
    margin-top: 10px;

}

.signIn-box {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.right-top {
    background-color: white;
    outline: .5px solid rgb(218, 218, 218);
}

.right-bottom {
    background-color: white;
    outline: .5px solid rgb(218, 218, 218);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.sign-color {
    color: rgb(79, 79, 247);
}

.footer-box {
    display: flex;
    flex-direction: row;

    font-size: 10px;
    justify-content: space-evenly;
}

.app-get {
    margin-left: 115px;
}

.google-micro-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-box>a {
    color: #585757;
    font-size: 12px;
}

@media screen and (max-width: 500px) {
    .left-box {
        display: none;

    }

    .main-container {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -5px;
        margin-left: 25px;
    }

    .image-insta {
        
    }

    body {
        height: 100vh;
        background-color: rgb(250, 252, 252);

    }

    .footer-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 19px;
        margin-top: 100px;
    }

    .right-box {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 30px;
    }

    .right-top {
        display: flex;
        flex-direction: column;
        outline: 0px;


        background-color: rgb(250, 252, 252);
    }
    .right-bottom{
        outline: 0px;
        background-color:rgb(250, 252, 252) ;
    }

}

@media screen and (min-width:500px) and (max-width:820px) {
    .left-box {
        display: none;
    }

    body {
        height: 100vh;
    }

    .right-box {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        padding-top: 200px;
        padding-bottom: 150px;
    }
}